<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

   <style>
      * {
         margin: 0;
         padding: 0;
      }

      html,
      body,
      header,
      #intro {
         height: 100%;
      }

      img {
         display: block;
         max-width: 100%;
         height: auto;
      }

      small {
         color: darkgrey;
      }

      .btn.pb {
         margin-top: 6rem;
         background-color: dark;
      }
   </style>
   <title>Liver Disease Prediction</title>
</head>

<body>
   <header>

      <div id="intro" class="container-fluid view ">
         <h1 class="text-center text-capitalize pt-5">Predict chances of getting Liver disease</h1>
         <hr class="w-75 mx-auto pt-5">
         <div class="row mb-5">
            <div class="col-lg-6 col-md-6 col-12 my-auto">
               <img src="../static/images/liver.jpg" class="float-left">

            </div>
            <div class="col-lg-6 col-md-6 col-12">
               <form action="{{ url_for('predictLD')}}" method="post">

                  <div class="form-group">
                     <label for="Age">Age</label>
                     <input class="form-control" type="text" id="Age" name="Age" required="required" placeholder="Age">
                  </div>
                  <div class="form-group">
                     <label for="Gender">Sex</label>
                     <select class="form-control" id="Gender" name="Gender" required="required">
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="Total Bilirubin">Total Bilirubin <small>(0.4-75.0)</small></label>
                     <input class="form-control" type="float" id="Total Bilirubin" name="Total Bilirubin" required="required" placeholder="Enter the Total Bilirubin">
                  </div>
                  <div class="form-group">
                     <label for="Direct_Bilirubin">Direct Bilirubin <small>(0.1-19.7)</small></label>
                     <input class="form-control" type="float" step="any" id="Direct_Bilirubin" name="Direct_Bilirubin" required="required" placeholder="Enter the Direct_Bilirubin">
                  </div>
                  <div class="form-group">
                     <label for="Alkaline_Phosphotase">Alkaline Phosphotase <small>(63-470)</small></label>
                     <input class="form-control" type="number" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase" required="required" placeholder="Enter the Alkaline Phosphotase">
                  </div>
                  <div class="form-group">
                     <label for="Alamine_Aminotransferase">Alamine Aminotransferase <small>(10-100)</small></label>
                     <input class="form-control" type="number" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase" required="required" placeholder="Enter the Alamine Aminotransferase">
                  </div>
                  <div class="form-group">
                     <label for="Aspartate_Aminotransferase">Aspartate Aminotransferase <small>(10-140)</small></label>
                     <input class="form-control" type="text" id="Aspartate_Aminotransferase" name="Aspartate_Aminotransferase" required="required" placeholder="Aspartate Aminotransferase">
                  </div>
                  <div class="form-group">
                     <label for="Total_Protiens">Total Protiens <small>(2.7-9.6)</small></label>
                     <input class="form-control" type="float" id="Total_Protiens" name="Total_Protiens" required="required" placeholder="Enter the Total Protiens">
                  </div>
                  <div class="form-group">
                     <label for="Albumin">Albumin <small>(0.9-5.5)</small></label>
                     <input class="form-control" type="float" id="Albumin" name="Albumin" required="required" placeholder="Enter the Albumin">
                  </div>
                  <div class="form-group">
                     <label for="Albumin_and_Globulin_Ratio">Albumin and Globulin Ratio <small>(0.3-2.8)</small></label>
                     <input class="form-control" type="float" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio" required="required" placeholder="Enter the Albumin and Globulin Ratio">
                  </div>
                  <button type="submit" class="btn btn-danger">Predict</button>
               </form>
               <a class="btn btn-dark pb" href="/" role="button">Back</a>
            </div>
         </div>
      </div>

   </header>

</body>

</html>
